<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
    <title>E R 0 S - Welcome</title>
</head>

<body>

<nav class="navbar nav-pills navbar-expand-lg navbar-light">
    <a class="navbar-brand ml-5"  href="https://autterback.greenriverdev.com/328/dating/"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center mr-5" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-dark" href="{{@BASE}}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-black-50" href="">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-black-50" href="create1">Sign Up!</a>
            </li>
        </ul>
        <hr>
    </div>
</nav>
<hr>

<div class="jumbotron jumbotron-fluid mb-5">
    <div class="container text-center">
        <h1 class="display-4"><mark class="purple">E </mark> <mark class="green">R </mark> <mark class="lightblue">0 </mark> <mark class="blue">S </mark></h1>
    </div>
</div> <!-- JUMBOTRON -->

<div class="container mt-5 border rounded">
    <h1 class="mt-5">Personal Information</h1>
    <hr>
    <form action="#" method="post">
        <div class="form-row">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="first-name" class="font-weight-bolder">First Name <br>
                        <input type="text" size="75" class="form-control" id="first-name" name="fname"> <br>
                        <check if="{{isset(@errors['fname'])}}">
                            {{@errors['fname']}}
                        </check>
                    </label> <br>
                </div> <!-- form | first-name -->

                <div class="form-group">
                    <label class="font-weight-bolder ">Last Name <br>
                        <input class="form-control" size="75" type="text" id="last-name" name="lname"> <br>
                        <check if="{{isset(@errors['lname'])}}">
                            {{@errors['lname']}}
                        </check>
                    </label> <br>
                </div> <!-- form | last-name -->

                <div class="form-group">
                    <label class="font-weight-bolder">Age <br>
                        <input class="form-control" size="75" type="text" id="age" name="age"> <br>
                        <check if="{{isset(@errors['age'])}}">
                            {{@errors['age']}}
                        </check>
                    </label> <br>
                </div> <!-- form | age -->

                <label class="font-weight-bolder">Gender</label> <br>
                <div class="form-group form-check">
                    <input class="form-check-input" type="radio" name="gender" value="Male">
                    <label class="form-check-label">
                        Male
                    </label>
                </div>

                <div class="form-group form-check">
                    <input class="form-check-input" type="radio" name="gender" value="Female">
                    <label class="form-check-label" >
                        Female
                    </label>
                </div> <!-- form | radio buttons | gender -->

                <div class="form-group">
                    <label class="font-weight-bolder">Phone Number <br>
                        <input class="form-control" size="75" type="text" name="phonenumber"> <br>
                        <check if="{{isset(@errors['phonenumber'])}}">
                            {{@errors['phonenumber']}}
                        </check>
                    </label> <br>
                </div> <!-- form | phone number -->
            </div>

            <div class="col-md-4">
                <div class="border rounded mr-5 bg-light">
                    <p class="text-center"> <span class="font-weight-bolder">Note:</span> All information entered is protected by our
                        <a href="{{@BASE}}}">privacy policy</a>. Profile information can only be viewed by others with your permission.</p>
                </div>
            </div> <!-- form | privacy notice -->
            <br>
            <input class="btn btn-primary mb-5 mr-0 float-right text-center" type="submit" value="Next>"> <!-- form | submit | button -->
        </div>
    </form>
</div><!-- Landing section Image -->
</body>
</html>