<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>E R 0 S - Welcome</title>
</head>

<body>

<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
        <h1 class="display-4">E R 0 S</h1>
        <p class="lead">The hottest new dating scene</p>
        <img src="images/landing_img01.png" alt="">
    </div>
</div> <!-- JUMBOTRON -->


</body>
</html>