<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
    <title>E R 0 S - Welcome</title>
</head>

<body>

<div class="jumbotron jumbotron-fluid mb-5">
    <div class="container text-center">
        <h1 class="display-4"><mark class="purple">E </mark> <mark class="green">R </mark> <mark class="lightblue">0 </mark> <mark class="blue">S </mark></h1>
        <p class="lead">The internets hottest new dating scene</p>
        <img src="images/landing_img01.png" class="border border-dark rounded" alt="">
    </div>
</div> <!-- JUMBOTRON -->

<div class="container text-center mt-5">
    <h3>Welcome to EROS</h3>
    <p>Welcome to the modern world of dating. Here at EROS we encourage like minded individuals to get together
       and live your life! We have the highest success rate out there by our state of the art matching techniques.
       We create date recommendations based on interests and location! Dont sit around thinking of something to do, let us
       take care of that for you, you just show up and vibe, find out now why so many people have found real connections on our platform!</p>
    <button type="button" class="btn btn-primary">Sign Up Today!</button>
</div> <!-- Landing section -->
<br>
<hr>
<footer class="footer">
    <div class="container mt-5 text-center">
        <div class="row">
            <div class="col-sm">
                BAS - Software Development   |
                GRC
            </div>
            <div class="col-sm">
                <p class="text-black-50">aaron <img src="images/pixel-heart.png" alt="pixel heart" height="40"> &copy; 2021</p>
            </div>
        </div>
    </div>
</footer> <!-- Closing footer tag -->
</body>
</html>